<form id="formButton">
    <label for='valor1'> Informe o Valor 1: </label>
    <input type="number" id="valor1" name="Valor 1" /><br /><br />
    <label for='valor2'> Informe o Valor 2: </label>
    <input type="number" id="valor2" name="Valor 2" /><br /><br />
    <button type="button" oneclick="Soma()" >+</button>
    <button type="button" oneclick="Subtracao()" >-</button>
    <button type="button" oneclick="Multiplicacao()" >X</button>
    <button type="button" oneclick="Divisao()" >/</button><br /><br />
    <label for='total'> Resultado: </label>
    <input type="number" class= "form-control" id="total" name="Valor 3" /><br /><br />

</form>
